<!DOCTYPE html>
<html lang="en">
<body style="background-color:aquamarine;"></body>
<head>
  <meta charset="utf-8">
  <title>HTML5 Example Page</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="HTML5 Example Page">
  <link rel="stylesheet" href="/assets/css/stylesheet.css?v=1">
</head>
<body>
  <header>
    <h1>Ausgänge</h1>
  </header>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/eingaenge">Eingänge</a></li>
      <li><a href="/ausgaenge">Ausgänge</a></li>
    </ul>
  </nav>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/2yJgwwDcgV8?si=b4DqaR081jhDne41" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</html>
