<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HTML5 Example Page</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="HTML5 Example Page">
  <link rel="stylesheet" href="/assets/css/stylesheet.css?v=1">
</head>
<body>
  <header>
    <h1>Eingänge</h1>
  </header>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/eingaenge">Eingänge</a></li>
      <li><a href="/ausgaenge">Ausgänge</a></li>
    </ul>
  </nav>
  <img src="https://bbs-os-brinkstr.de/fileadmin/bbs-2017/images/logo.png">
</body>
</html>
